.grid-container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr; /* 섹션을 적절한 비율로 나눕니다. */
    grid-gap: 20px; /* 그리드 아이템 간격을 조절합니다. */
}

.grid-item {
    padding: 20px;
    border: 1px solid #ccc;
    /* 그리드 아이템의 스타일을 지정합니다. */
}

#sidebar {
    display: flex;
    flex-direction: column;
}

.icon {
    margin-bottom: 20px;
    width: 50px;
    height: auto;
}