body {
    margin: 0;
    font-family: Arial, sans-serif;
}
#sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 80px; /* 메뉴 바의 너비 조정 */
    background-color: #333;
    padding-top: 20px;
    color: #fff;
}
#sidebar nav {
    display: flex;
    flex-direction: column; /* 세로로 나열되도록 설정 */
    align-items: center; /* 가운데 정렬 */
}
#sidebar nav a {
    color: #fff;
    text-decoration: none;
}
#sidebar nav img {
    width: 40px; /* 이미지 크기 조정 */
    margin-bottom: 10px; /* 이미지 사이 여백 조정 */
}
#sidebar nav a:hover {
    background-color: #555;
}