{% extends "accounts/base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="login-box">
        <img src="{% static 'images/posts/logo.png' %}" alt="Instagram Logo" class="logo">
        <form action='{% url "accounts:login" %}' method='POST'>
            {% csrf_token %}
            <p>{{ form.username }} </p>
            <p>{{ form.password }} </p>

        
            <button type="submit" class="login-btn">Log In</button>
        </form>
        {% comment %} <p class="forgot-password">Forgot password?</p> {% endcomment %}
        <div class="signup-link">
            <p>Don't have an account? <a href="{% url "accounts:signup" %} ">Sign up</a></p>
        </div>
    </div>
</div>

{% comment %} <form action='{% url "accounts:login" %}' method='POST'>
    {% csrf_token %}
    {{ form.as_p }} 
    
    <input type='submit' value='로그인하기'>
</form> {% endcomment %}

{% endblock content %}
{% block script %}
{% endblock script %}
