{% extends "accounts/base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <img style="width:300px; height:400px" src="{% static 'images/insta_login_img.PNG' %}" alt="phone" class="phone-img">
    <div class="login-box">
        
        <img src="{% static 'images/posts/logo.png' %}" alt="Instagram Logo" class="logo-instagram">
        <form action='{% url "accounts:login" %}' method='POST'>
            {% csrf_token %}
            {{ form.as_p}}
            {% comment %} <p>{{ form.username }} </p> {% endcomment %}
            {% comment %} <p>{{ form.password }} </p> {% endcomment %}

        
            <button type="submit" class="login-btn">Log In</button>
        </form>
        {% comment %} <p class="forgot-password">Forgot password?</p> {% endcomment %}
        <div class="signup-link">
            <p>Don't have an account? <a href="{% url "accounts:signup" %} ">Sign up</a></p>
        </div>
    </div>
</div>

{% endblock content %}
{% block script %}
{% endblock script %}
