{% extends "base.html" %}
{% load static %}
{% block content %}

<h3>{{ user.real_name }} 프로필 페이지</h3>

<!--기타 정보-->
<p>자기소개: {{ user.introduce }}</p>
<p>성별:
    {% if user.gender == 'F' %}
        여자
    {% elif user.gender == 'M' %}
        남자
    {% else %}
        선택안함
    {% endif %}
</p>

{% if user.profile_url %}
<div class="profile-pic">
    <img src="{{ user.profile_url }}" alt="프로필 사진" style="max-width: 10%;">
</div>
{% else %}
<div class="account-profile-pic">
    <img src="{% static 'images/none_img.jpg' %}" alt="프로필 사진" width="50px"> 
</div>
<p>프로필 사진을 등록하세요.</p>
{% endif %}

<!-- Button trigger modal -->
<button id="pro_modal" type="button" class="btn btn-primary" data-toggle="modal" data-target="#ProfileModalCenter" style="width: 150px;">
    프로필변경
</button>

<!-- Modal -->
<div class="modal fade" id="ProfileModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">프로필 편집</h5>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'accounts:profile' user.id %}">
                    {% csrf_token %}
                    <table>
                        <tbody>
                            <tr>
                                <td>자기소개</td>
                                <td><input id="intro" type="text" size="40" placeholder="자기소개를 입력하세요" name="introduce" value="{{ user.introduce }}"></td>
                            </tr>
                            <tr>
                                <td>성별</td>
                                <td>
                                    <select id="gender" name="gender">
                                        <option value="M" {% if user.gender == 'M' %} selected {% endif %}>남성</option>
                                        <option value="F" {% if user.gender == 'F' %} selected {% endif %}>여성</option>
                                        <option value="O" {% if user.gender == 'O' %} selected {% endif %}>선택안함</option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="submit">저장</button>
                </form>
            </div>
            <div class="modal-footer">
                <button id="pro_close" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- 비밀번호 변경 모달 -->
<button id="pw_modal" type="button" class="btn btn-primary" data-toggle="modal" data-target="#PasswordModalCenter" style="width: 150px;">
    비밀번호 변경
</button>

<div class="modal fade" id="PasswordModalCenter" tabindex="-1" role="dialog" aria-labelledby="PasswordModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="PasswordModalLongTitle">비밀번호 변경</h5>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'accounts:change_pw' user.id %}">
                    {% csrf_token %}
                    <table>
                        <tbody>
                            <tr>
                                <td>현재 비밀번호</td>
                                <td><input id="current_password" type="password" size="40" placeholder="현재 비밀번호를 입력하세요" name="current_password"></td>
                            </tr>
                            <tr>
                                <td>새로운 비밀번호</td>
                                <td><input id="new_password1" type="password" size="40" placeholder="새로운 비밀번호를 입력하세요" name="new_password1"></td>
                            </tr>
                            <tr>
                                <td>새로운 비밀번호 확인</td>
                                <td><input id="new_password2" type="password" size="40" placeholder="새로운 비밀번호를 다시 입력하세요" name="new_password2"></td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="submit">변경</button>
                </form>
            </div>
            <div class="modal-footer">
                <button id="pw_close" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block script %}
<script>
    // 프로필 편집 클릭
    document.querySelector('#pro_modal').addEventListener('click', function() {
        $('#ProfileModalCenter').modal('show');
    });
    // 프로필 편집 닫기
    document.querySelector('#pro_close').addEventListener('click', function() {
        $('#ProfileModalCenter').modal('hide');
    });
    // 비밀번호 변경 클릭
    document.querySelector('#pw_modal').addEventListener('click', function() {
        $('#PasswordModalCenter').modal('show');
    });
    // 비밀번호 변경 닫기
    document.querySelector('#pw_close').addEventListener('click', function() {
        $('#PasswordModalCenter').modal('hide');
    });
</script>
{% endblock script %}
