{% extends "base.html" %}

{% block content %}
<h3>{{ request.user }} 프로필 페이지</h3>



<!--기타 정보-->
<p>자기소개 : {{ user.introduce }} </p>

<p>
{% if user.gender == 'F' %}
성별 : 여자 
{% elif user.gentder == 'M' %}
성별 : 남자 
{% else %}
성별 : 선택안함
{% endif %}
</p>
{% if user.profile_url %}
<img src="{{user.profile_url}}" alt="프로필 사진"  style="max-width: 10%;">
{% else %}
{% load static %}
<img src="{% static 'images/none_img.jpg' %}" alt="프로필 사진" width=50px> 
프로필 사진을 등록하세요.
{% endif %}
<br>
<!-- add_box id 속성 추가 -->
<span id="add_feed" class="material-icons-outlined"><a href="#" class='btn btn-primary btn-sm'>사진 변경</a></span>
<br>

<!-- model id 속성 추가 -->
<!-- create feed -->
<div id="modal_add_feed" class="modal_overlay" style='display:none'> 
    <div class="modal_profile_window">
        <div class="modal_title">
        <h3 align='center'>프로필 사진 바꾸기 
            <span id="close_modal" class="material-icons-outlined">
                <a href="#" class='btn btn-primary btn-sm'>취소</a>
            </span>
        </h3>
        </div>
        <br>
        <div class="modal_content">
            <div> 사진 업로드 </div>
                <form method="post" action="{% url "accounts:upload_img" user.id %}" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="profile_img">
                <button type="submit" value='사진올리기' class='btn btn-primary btn-sm'>Upload</button>
                </form>
            <p>
            <form class='delete_img' method='post' action="{% url "accounts:delete_img" user.id %}">
                {% csrf_token %}
                <button type="submit" value='사진삭제' class='btn btn-primary btn-sm'>현재 사진 삭제</button>
            </form></p>

        </div>
    </div>
</div>

{% comment %} <span id="add_feed_pw" class="material-icons-outlined">비밀번호 변경</span> {% endcomment %}
<br>

<div id="modal_add_feed_pw" class="modal_overlay" style='display:none'> 
    <div class="modal_pw_window">
        <form class='change_pw' method='post' action="{% url "accounts:change_pw" user.id %}">
            {% csrf_token %}
            <div>
                <p>{{user.alias_name }}  · Instagram <br>비밀번호 변경<br>
                <span style='font-size:10px'>
                누군가 액세스 권한을 얻으려고 시도 중인 경우 계정을 보호하기 위해 이 세션을 제외한 모든 세션에서 로그아웃됩니다.
                비밀번호는 최소 6자 이상이어야 하며 숫자, 영문, 특수 문자(!$@%)의 조합을 포함해야 합니다.
                </span></p>

                <input type="text" id='password' placeholder='Current Enter the Password' maxlength="30" size="30">
                <span id='cur_pw'></span><br>
                <input id='password1' type="password" placeholder='Enter the Password' maxlength="30" size="30">
                <span id='warning1' class='warning-message'></span><br>
                <input id='password2' type="password" placeholder='Again Enter the Password' maxlength="30" size="30">
                <span id='warning2' class='warning-message'></span><br>
                
                <button type="submit" value='사진삭제'>비밀번호 변경</button>
                <span id="close_pw_modal" class="material-icons-outlined">
                    취소
                </span>
            </div>
        </form>
    </div>
</div>
<!-- 사용자가 작성한 글 목록 -->
<h4>내가 작성한 글 목록</h4>
<hr>
    {% for post in user_posts %}
        <h2>{{ post.pk }} 번째 글</h2>
        <p>작성자: {{ post.user }}</p>
        <p>내용: {{ post.content }}</p>
        {% if post.image %}
            <img src="{{ post.image }}" alt="Post Image" style="max-width: 300px; max-height: 300px;">
        {% endif %}
        <hr>
            <!-- 좋아요 버튼 -->
        <form action="{% url 'posts:post_like' post_id=post.pk %}" method="POST">
            {% csrf_token %}
            {% if request.user in post.like_users.all %}
                <button type="submit" class="btn btn-primary">좋아요 취소</button>
            {% else %}
                <button type="submit" class="btn btn-primary">좋아요</button>
            {% endif %}
        </form>
        {% if request.user == post.user %}
            <a href='{% url "posts:update" pk=post.pk %}'>[수정하기]</a>
            <a href='#' onclick="confirmDeletePost('{{ post.pk }}')">[삭제하기]</a>
            <hr>
            <script>
                function confirmDeletePost(postId) {
                    if (confirm("정말로 삭제하시겠습니까?")) {
                        window.location.href = "{% url 'posts:delete' pk=post.pk %}";
                    }
                }
            </script>
        {% endif %}
        <h3>댓글 목록( {{ post.comments.all|length }} )</h3>
        <ol>
            {% for comment in post.comments.all %}
                <li>
                    <strong>{{ comment.user.username }}</strong> {{ comment.content }}
                    {% if request.user == comment.user %}
                        <a href='{% url "posts:edit_comment" pk=comment.pk %}'>[댓글 수정하기]</a>
                        <a href='{% url "posts:delete_comment" post_id=post.pk comment_id=comment.id %}' onclick="event.preventDefault(); if(confirm('정말로 삭제하시겠습니까?')){document.getElementById('delete-form-{{ comment.id }}').submit();}">[댓글 삭제하기]</a>
                        <form id="delete-form-{{ comment.id }}" action='{% url "posts:delete_comment" post_id=post.pk comment_id=comment.id %}' method='POST' style="display: none;">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}">
                        </form>
                    {% endif %}
                </li>
            {% empty %}
                <div>댓글이 없습니다.</div>
            {% endfor %}
        </ol>
        <form action='{% url 'posts:create_comment' pk=post.pk %}' method='POST'>
            {% csrf_token %}
            {{ comment_form }}
            <input type='submit' value='댓글 작성하기'>
        </form>
        <hr>
    {% empty %}
        <p>작성한 글이 없습니다.</p>
    {% endfor %}
    <hr>
    {% if request.META.HTTP_REFERER %}
        <a href="{{ request.META.HTTP_REFERER }}">[뒤로 가기]</a>
    {% endif %}
    <a href='{% url "posts:home" %}'>[홈으로]</a>
{% endblock content %}

{% block script %}
{% load static %}
<script src="{% static 'js/accounts/profile.js' %}"></script>

{% endblock script %}