{% extends "base.html" %}
{% load static %}
{% block content %}
<br><h3>[ 사용자 또는 태그 검색 ]</h3>
    <form method="GET" action="{% url 'accounts:search' %}">
        <input class='btn btn-light text-start' type="text" name="search_keyword" size=40 placeholder="사용자 ID, 별명, 또는 실명 입력">
        <button class='btn btn-primary' type="submit">검색</button>
    </form>
    <br>
{% if searched_users %}
    {% comment %} <h3>검색 결과:</h3> {% endcomment %}

    <ul>
        {% for user in searched_users %}
        <li>

                {% if user.profile_url %}
                <img class='search-profile-pic-img' src="{{user.profile_url}}" alt="프로필 사진">
                {% else %}
                {% load static %}
                <img class='search-profile-pic-img' src="{% static 'images/none_img.jpg' %}" alt="프로필 사진" width=30px> 
                {% endif %}


                <a class="link-dark link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" href="{% url 'accounts:index' user_idx=user.id %}">
                    {{ user.alias_name }}</a>
        </li>
        {% endfor %}
    </ul>
{% elif searched_posts %}

    {% comment %} <h3>검색 결과:</h3> {% endcomment %}
        <ul>
            {% for post in searched_posts %}
            <div class="post">
                <div class="info">
                    <div class="user">
                        <div class="profile-pic"><img src="{% static 'images/posts/avatar.png' %}"></div>
                        <p class="username">{{ post.user.username }}</p>
                    </div>
                </div>
                <img src="{% static 'images/posts/home.png' %}" class="post-image" alt="">
                <div class="post-content">
                    <div class="reaction-wrapper">
                        <img src="{% static 'images/posts/notifications.png' %}" class="icon" alt="">
                    </div>
                    <p class="likes">{{ post.like_users.count }} likes</p>
                    <p class="description"><span>{{ post.user.username }}</span> {{ post.content }}</p>
                    <p class="post-time">{{ post.created_at }}</p>
                </div>
                <div class="comment-wrapper">
                    <input type="text" class="comment-box" placeholder="Add a comment">
                    <button class="comment-btn">post</button>
                </div>
            </div>
            {% endfor %}
        </ul>
{% else %}
    <p>검색 결과가 없습니다.</p>
{% endif %}
{% endblock content %}