{% extends 'base.html' %}
{% block content %}
<h1>스토리 상세화면</h1>
<h2>{{ user.username }}의 스토리 목록</h2>

{% if user_stories %}

<div style='width:600px;'>
    <div class="container  justify-content-start align-items-start">
        <div class="row flex-wrap">
                
        {% for story in user_stories %}

        <div class="col-4 px-1 d-flex mt-1">
            <div class="square-container align-items-left">
            <img src="{{ story.image.url }}" class="img-fluid resize_img" style='width:600px;'>
            </div>
        </div>

        {% endfor %}
    </ul>
{% else %}
    <p>현재 업로드된 스토리가 없습니다.</p>
    <a href="{% url 'stories:create' %}">스토리 업로드하기</a>
{% endif %}
{% endblock content %}

{% block script %}
<script>
    window.addEventListener('load', function() {
        var images = document.querySelectorAll('.resize_img');
        images.forEach(function(image) {
            // 이미지의 가로와 세로 비율을 계산
            var aspectRatio = image.width / image.height;
            if (aspectRatio > 1) {
                // 가로가 세로보다 긴 경우
                image.style.width = '100%';
                image.style.height = '100%';

            } else {
                // 세로가 가로보다 긴 경우
                image.style.width = '100%';
                image.style.height = '100%';
            }
        });
    });

</script>

{% endblock script %}