{% extends 'base.html' %}
{% block content %}
<br>
<h3>[ {{user.alias_name}} 스토리 목록 ]</h3>

{% if user_stories %}
<div style='width:600px;'>
    <div class="container align-items-start">
        <div class="row flex-wrap">
                
        {% for story in user_stories %}

        <div class="col-4 px-0 d-flex">
            <img src="{{ story.image.url }}" class="img-fluid" style='width:600px;'>
        </div>

        {% endfor %}

    </div>
</div>
{% else %}
    <p>현재 업로드된 스토리가 없습니다.</p>
    <a href="{% url 'stories:create' %}">스토리 업로드하기</a>
{% endif %}
{% endblock content %}