{% extends "base.html" %}
{% block content %}

{% for content in contents %}
    <div class="notification">
        <table class='table-responsive'>
            <tr>
                <td rowspan="3">
                    {% if content.user_img %}
                    <img class='search-profile-pic-img' src="{{ content.user_img }}" alt="프로필 사진">
                    {% else %}
                    {% load static %}
                    <img class='search-profile-pic-img' src="{% static 'images/none_img.jpg' %}" alt="프로필 사진" width=30px> 
                    {% endif %}
                </td>
                <td></td>
            </tr>
            <tr>
                <td><b>{{content.real_name}}</b> {{ content.msg }}
                    {{ content.created_at }}</td>
            </tr>
        </table>
    </div>
{% endfor %}


{% endblock content %}

