{% extends "base.html" %}

{% block content %}
    <h1>게시물 생성 페이지</h1>
    <form action='{% url "posts:create" %}' method='POST' enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type='submit' value='작성 완료'/>
    </form>
    <hr>
    {% if request.META.HTTP_REFERER %}
    | <a href="{{ request.META.HTTP_REFERER }}">[뒤로 가기]</a>
    <a href='{% url "posts:home" %}'>[홈으로]</a>
    {% endif %}
{% endblock content %}

{% block script %}

{% endblock script %}
