{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
    <div class="grid-container">
        <div id="sidebar" class="grid-item">
            <img src="{% static "images/posts/logo.png" %}" class="icon" alt="logo">
            <img src="{% static "images/posts/home.png" %}" class="icon" alt="home">
            <img src="{% static "images/posts/search.png" %}" class="icon" alt="search">
            <img src="{% static "images/posts/messages.png" %}" class="icon" alt="messages">
            <img src="{% static "images/posts/notifications.png" %}" class="icon" alt="notifications">
        </div>
        <div id="post" class="grid-item">
        </div>
        <div id="profile" class="grid-item">
        </div>
    </div>
{% endblock content %}