{% extends 'base.html' %}

{% block content %}
    <h1>게시글 수정 페이지</h1>
    <form id="post_form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" id="image_input" name="image" accept="image/*" onchange="previewImage(event)">
        <img id="image_preview" src="#" alt="이미지 미리보기" style="display: none; max-width: 300px; max-height: 300px;">
        <br>
        <label for="content">내용:</label>
        <textarea id="content" name="content" required></textarea>
        <br>
        <input type="submit" value="수정 완료"/>
    </form>
    <hr>
    {% if request.META.HTTP_REFERER %}
    | <a href="{{ request.META.HTTP_REFERER }}">[뒤로 가기]</a>
    <a href='{% url "posts:home" %}'>[홈으로]</a>
    {% endif %}
{% endblock content %}
{% block script %}
<script>
    function previewImage(event) {
        const image = document.getElementById('image_preview');
        image.style.display = 'block';
        image.src = URL.createObjectURL(event.target.files[0]);
    }
</script>
{% endblock script %}