{% extends 'base.html' %}

{% block content %}
    <style>
        .post-image {
            width: calc(260px - 2px); /* 이미지 너비 설정 */
            height: calc(260px - 2px); /* 이미지 높이 설정 */
            margin-right: 1px; /* 이미지 사이 간격 설정 */
            margin-bottom: 5px; /* 이미지 아래 간격 설정 */
            display: inline-block; /* 이미지를 인라인 요소로 표시하여 나란히 정렬 */
        }

        .modal_overlay {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: rgba(0, 0, 0, 0.8);
            backdrop-filter: blur(1.5px);
            -webkit-backdrop-filter: blur(1.5px);
        }

        .modal_window {
            background: white;
            backdrop-filter: blur(13.5px);
            -webkit-backdrop-filter: blur(13.5px);
            border-radius: 10px;
            border: 1px solid rgba(255, 255, 255, 0.18);
            width: 1000px;
            height: 600px;
            position: relative;
            padding: 10px;
        }

        .img_upload_space img {
            max-width: 100%;
            max-height: 100%;
        }

        .modal_content {
            display: flex;
            width: 100%;
            height: 100%;
        }

        .image_section {
            width: 50%;
            height: 100%;
        }

        .image_section img {
            max-width: 100%;
            max-height: 100%;
        }

        .info_section {
            position: absolute;
            top: 0;
            right: 0;
            width: 50%;
            height: 100%;
            overflow: auto; /* 내용이 넘칠 경우 스크롤 표시 */
        }

        .modal_close {
            cursor: pointer;
            display: flex;
            justify-content: flex-end;
        }
    </style>

    <h1>내가 작성한 모든 글</h1>
    <hr>
    <div style="text-align: center;">
        {% for post in user_posts %}
            {% if forloop.counter0|divisibleby:3 %}
                <br> <!-- 3개의 이미지를 표시한 후 줄 바꿈 -->
            {% endif %}
            <div class="post-image">
                {% if post.image %}
                    {% with user_name=post.user.username content=post.content %}
                        <a href="#" class="image-modal-trigger" data-image-url="{{ post.image }}" data-username="{{ user_name }}" data-content="{{ content }}" data-post-pk="{{ post.pk }}">
                            <img src="{{ post.image }}" alt="Post Image" style="width: 260px; height: 260px;">
                        </a>
                    {% endwith %}
                {% endif %}
            </div>
        {% endfor %}
    </div>

    <!-- 모달 -->
    <div id="first_modal" class="modal_overlay">
        <div class="modal_window">
            <div class="modal_content">
                <div class="image_section">
                    <!-- 이미지 표시 공간 -->
                    <img id="modal_image">
                </div>
                <div class="info_section">
                    <span class="modal_close material-icons-outlined">close</span>
                    <p id="user_name"></p> <!-- 유저 이름 표시 -->
                    <hr>
                    <p id="post_content"></p> <!-- 포스트 내용 표시 -->
                    
                </div>
            </div>
        </div>
    </div>

    <!-- JavaScript -->
    <script>
        $(document).ready(function () {
            $(".image-modal-trigger").click(function (e) {
                e.preventDefault(); // 기본 동작 중단
                var imageUrl = $(this).data('image-url'); // 클릭한 이미지의 URL 가져오기
                var userName = $(this).data('username'); // 클릭한 이미지의 유저 이름 가져오기
                var postContent = $(this).data('content'); // 클릭한 이미지의 포스트 내용 가져오기
        
                // 모달에 이미지, 유저 이름, 글 내용 표시
                $("#modal_image").attr("src", imageUrl);
                $("#user_name").text(userName);
                $("#post_content").text(postContent);
        
                // 모달 표시
                $("#first_modal").css({display: 'flex'});
            });
        
            $(".modal_close").click(function () {
                $('#first_modal').css({display: 'none'});
            });
        });
    </script>
{% endblock %}
